<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
<thead>
<tr>
<td>
Item Code
</td>
<td>
Item Name
</td>
<td>
Unit Price
</td>
<td>
Quantity
</td>
</tr>
</thead>
<tbody>
<tr  th:each="product : ${products}">
<td th:text="${product.itemCode}">

</td>
<td th:text="${product.itemName}">

</td>
<td th:text="${product.unitPrice}">

</td>
<td th:text="${product.qty}">

</td>
</tr>

</tbody>

</table>
</body>
</html>